.scrollblock{
    position: relative;
    margin: 0;
    width: 100%;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  code {
    background-color: #000;
    font-style: normal;
    border-radius: 10px;
    color: #fff;
    padding: 5px 15px;
    font-family: 'menlo', monospace; 
  }
  
  .meta {
    font-size: 16px;
    color: #999;
  }
  
  .block-one {
    background-color: #348fd4;
  }
  
  .block-one a {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    font-size: normal;
    background-color: #06406c;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .block-two {
    background-color: #06406c;
  }

  .block-two h2{
    color: #fff;
  }

  .block-two p{
    color: #fff;
  }
  
  .block-pods {
    background-color: #4c0d09;
  }
  
  .block-pods h2{
    color: #d3b2af;
  }
  
  .block-pods a{
    color: #d3b2af;
  }
  
  .block-pods p{
    color: #d3b2af;
  }
  
  .block-pods code{
    color: #000;
    background-color: #fff;
  }
  
  .block-deployment {
    background-color: #cc4037;
  }
  .block-deployment h2{
    color: #4c0d09;
  }
  .block-deployment p{
    color: #4c0d09;
  }