.scrollblock{
  position: relative;
  margin: 0;
  width: 100%;
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

code {
  background-color: #000;
  font-style: normal;
  border-radius: 10px;
  color: #fff;
  padding: 5px 15px;
  font-family: 'menlo', monospace; 
}

.meta {
  font-size: 16px;
  color: #999;
}

ul{
  list-style-type: none;
}

.single{
  margin-left: 5rem;
}
.double{
  margin-left: 10rem;
}
.triple{
  margin-left: 15rem;
}

.block-one {
  background-color: #348fd4;
}

.block-one a {
  color: #fff;
  font-size: 40px;
  font-weight: normal;
  font-size: normal;
  background-color: #06406c;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
}

.block-two {
  color: #06406c;
}

.block-two h2{
  color: #06406c;
}

.block-three {
  background-color: #4c0d09;
}

.block-three h2{
  color: #d3b2af;
}

.block-three a{
  color: #d3b2af;
}

.block-three p{
  color: #d3b2af;
}

.block-three code{
  color: #000;
  background-color: #fff;
}

.block-four {
  background-color: #cc4037;
}
.block-four h2{
  color: #4c0d09;
}
.block-four p{
  color: #4c0d09;
}
.block-four code{
  color: #000;
  background-color: #fff;
}

.block-five {
  background-color: #ffc19f;
}
.block-five h2{
  color: #cc4037;
}
.block-five p{
  color: #000;
}
.block-five code{
  color: #000;
  background-color: #fff;
}