@font-face {
  font-family: 'Chelsea';
  src: url(/public/font/ChelseaMarket-Regular.ttf);
}

@font-face {
  font-family: 'menlo';
  src: url(/public/font/Menlo-Regular.ttf);
}

.page-body {
  background: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

h1 {
  font-size: 60px;
  font-weight: normal;
  margin: 0;
  font-family: 'Chelsea', Georgia, serif;
  color: #000;
  line-height: 1;
}

h2 {
  font-size: 70px;
  font-weight: normal;
  margin: 0;
  font-family: 'Chelsea', Georgia, serif;
  text-transform: lowercase;
}

p {
  width: 960px;
  margin: 40px auto;
  color: #000;
  line-height: 200%;
}